div.wpl_navigation {
    width: 350px;
    position: fixed;
    height: 100%;
  
    top: 0;
    left: 0;
    background: rgb(35, 35, 35);
    overflow-x: hidden;
    padding: 10px 10px;
    overflow-y: scroll;
	white-space: nowrap;
  }
  
  a.wpl_navigation {
      color:white;
      text-decoration: none;
  }
  a.wpl_navigation:hover {
      text-decoration: underline;
  }
  
  .main {
      padding-left: 370px;
  }